@use "@/styles/abstracts" as *;

.wrapper {
  position: relative;
  background-color: var(--color-accent, $color-accent);
  border: var(--default-border, $default-border);
  overflow: hidden;

  &::after {
    @include pseudo;

    z-index: 1;
    transform: rotate(45deg);
    border-block-end: var(--default-border, $default-border);
  }
}
