@use "@/styles/abstracts" as *;

.text {
  color: var(--color-highlight, $color-highlight);
  font-size: to-rem(18);

  @media (width >= to-em(992)) {
    font-size: to-rem(20);
  }
}

.bold {
  font-weight: 700;
}

.blue {
  color: var(--color-inverse, $color-inverse);

  span {
    color: var(--color-highlight, $color-highlight);
  }
}
