@use "@/styles/abstracts" as *;

.text {
  color: var(--color-accent, $color-accent);
}

.blue {
  color: var(--color-inverse, $color-inverse);

  span {
    color: var(--color-accent, $color-accent);
  }
}
