@use "@/styles/abstracts" as *;

.controls {
  display: flex;
  flex-wrap: nowrap;
  gap: to-rem(10);
  align-items: center;
}

.button {
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%, 0 0);

  background-color: var(--color-inverse, $color-inverse);

  color: var(--color-primary, $color-primary);

  padding: to-rem(5);

  display: flex;

  flex-wrap: nowrap;

  &.rotate {
    rotate: 180deg;
  }
}
