@use "@/styles/abstracts" as *;

.wrapper {
  position: relative;

  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);

  background-color: var(--color-highlight, $color-highlight);

  border: var(--default-border, $default-border);

  block-size: to-rem(200);
  inline-size: to-rem(200);

  overflow: hidden;

  &::after {
    @include pseudo;

    inset-block-start: to-rem(-11);
    inset-inline-end: to-rem(-16);
    z-index: 1;

    transform: rotate(45deg);

    border-block-end: var(--default-border, $default-border);

    block-size: to-rem(25);
    inline-size: to-rem(30);
  }

  > img {
    padding-inline-start: to-rem(20);
  }
}

.title {
  border-block-start: to-rem(2) solid var(--color-primary, $color-secondary);

  inline-size: 100%;

  overflow: hidden;

  text-overflow: ellipsis;
  text-orientation: upright;
  text-wrap: nowrap;

  writing-mode: vertical-lr;
}
