@use "@/styles/abstracts" as *;

.wrapper {
  position: relative;

  clip-path: polygon(90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 0);

  background-color: var(--color-highlight, $color-highlight);

  border: var(--default-border, $default-border);

  block-size: to-rem(200);
  inline-size: to-rem(200);

  overflow: hidden;

  &::before,
  &::after {
    @include pseudo;

    z-index: 1;
    inline-size: to-rem(30);
    block-size: to-rem(25);
  }

  &::before {
    inset-block-end: to-rem(-11);
    inset-inline-start: to-rem(-15);
    transform: rotate(45deg);
    border-block-start: var(--default-border, $default-border);
  }

  &::after {
    inset-block-start: to-rem(-11);
    inset-inline-end: to-rem(-16);
    transform: rotate(45deg);
    border-block-end: var(--default-border, $default-border);
  }

  > img {
    padding-inline-start: to-rem(18);
  }
}
