@use "@/styles/abstracts" as *;

.wrapper {
  clip-path: polygon(95% 0, 100% 35%, 100% 100%, 5% 100%, 0 65%, 0 0);

  background-color: var(--color-inverse, $color-inverse);

  color: var(--color-primary, $color-primary);

  padding: to-rem(8) to-rem(10);

  inline-size: 100%;

  display: flex;

  flex-wrap: nowrap;

  justify-content: center;

  font-size: to-rem(20);
  font-weight: 700;

  // stylelint-disable
  transition: var(--default-transition, $default-transition);
  transition-property: background-color, scale;

  @include media-hover {
    background-color: var(--color-accent, $color-accent);

    &:active {
      scale: 0.9;
      background-color: var(--color-highlight, $color-highlight);
    }
  }
}
