@use "sass:color" as *;
@use "@/styles/abstracts" as *;

.wrapper {
  overscroll-behavior-block: none;

  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent, $color-accent)
    var(--color-primary, $color-primary);

  padding: to-rem(15);

  overflow: hidden auto;

  &::-webkit-scrollbar {
    inline-size: to-rem(5);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-primary, $color-primary);
    border-radius: to-rem(5);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent, $color-accent);
    border-radius: to-rem(5);
    border: to-rem(2) solid var(--color-primary, $color-primary);
  }
}
