@use "@/styles/abstracts" as *;

.wrapper {
  color: var(--color-inverse, $color-inverse);

  border-radius: 50%;

  block-size: to-rem(40);
  inline-size: to-rem(40);

  overflow: hidden;

  display: flex;

  flex-wrap: nowrap;

  transition: var(--default-transition, $default-transition);
  transition-property: color, scale;

  @include media-hover {
    color: var(--color-accent, $color-accent);

    &:active {
      scale: 0.9;
      color: var(--color-highlight, $color-highlight);
    }
  }
}
