@use "@/styles/abstracts" as *;

.wrapper {
  display: flex;

  block-size: to-rem(40);
  inline-size: to-rem(40);

  flex-wrap: nowrap;

  color: var(--color-inverse, #00f0ff);

  transition: color var(--default-transition, 0.2s ease-in-out);

  @include media-hover {
    color: var(--color-accent, #fcee09);
  }
}
