@use "@/styles/abstracts" as *;

.title {
  margin-block-end: to-rem(15);
}

.loader {
  block-size: to-rem(90);

  display: flex;

  flex-wrap: nowrap;

  align-items: center;
  justify-content: center;

  font-weight: 700;
}
