@use "@/styles/abstracts" as *;

.wrapper {
  padding: to-rem(15);
  border-block-end: 1px solid var(--color-highlight, $color-highlight);

  @media (width >= to-em(768)) {
    padding: to-rem(30) to-rem(15);
    border-block-end: none;
    border-inline-end: var(--default-border, $default-border);
  }
}

.avatar {
  margin-block-end: to-rem(15);

  display: flex;

  flex-wrap: nowrap;

  gap: to-rem(30);

  align-items: center;
}

.socials {
  display: grid;
  gap: to-rem(10);
}

.labels {
  margin-block-end: to-rem(20);
  display: grid;
  gap: to-rem(5);
}
