@use "@/styles/abstracts" as *;

.head {
  margin-block-end: to-rem(15);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
  gap: to-rem(10);
  align-items: center;
}

.button {
  clip-path: polygon(80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%, 0 0);

  background-color: $color-inverse;

  color: $color-primary;

  padding: to-rem(5);

  display: flex;

  flex-wrap: nowrap;

  transition: var(--default-transition, $default-transition);
  transition-property: background-color, scale;

  svg {
    inline-size: to-rem(25);
    block-size: to-rem(25);
  }

  @include media-hover {
    background-color: var(--color-accent, $color-accent);

    &:active {
      scale: 0.9;
      background-color: var(--color-highlight, $color-highlight);
    }
  }
}

.rotate {
  rotate: 180deg;
}

.slider {
  overflow: hidden;
}

.projects {
  display: flex;
  flex-wrap: nowrap;
  gap: to-rem(15);
}

.project {
  flex: 0 0 to-rem(290);
}
