@use "@/styles/abstracts" as *;

.wrapper {
  transform: rotateX(15deg) rotateY(15deg) translateY(to-rem(-10))
    translateZ(to-rem(-10));

  clip-path: polygon(90% 0, 100% 10.2%, 100% 100%, 10% 100%, 0 89.8%, 0 0);

  padding-inline-start: to-rem(28);

  min-block-size: to-rem(290);
  max-block-size: to-rem(290);

  display: flex;

  flex-wrap: nowrap;

  transition: transform var(--default-transition, $default-transition);

  &::after {
    inset-block-start: to-rem(-1);
    inset-inline-end: to-rem(-32);
    block-size: to-rem(25);
    inline-size: to-rem(60);
  }

  @include media-hover {
    transform: rotateX(0) rotateY(0) translateY(0) translateZ(0);
  }
}

.inner {
  background-color: var(--color-primary, $color-primary);

  padding: to-rem(10);

  max-block-size: 100%;

  display: flex;

  flex-direction: column;
}

.head {
  margin-block-end: var(--default-size, $default-size);

  display: flex;

  flex-wrap: nowrap;

  gap: to-rem(10);

  align-items: flex-start;
}

.image {
  position: relative;

  clip-path: polygon(80% 0, 100% 19.6%, 100% 100%, 20% 100%, 0 80.5%, 0 0);

  border: var(--default-border, $default-border);

  block-size: to-rem(50);
  inline-size: to-rem(50);

  overflow: hidden;

  flex: 0 0 to-rem(50);

  &::before,
  &::after {
    @include pseudo;

    z-index: 1;

    transform: rotate(45deg);

    border-block-end: var(--default-border, $default-border);

    block-size: to-rem(25);
    inline-size: to-rem(60);
  }

  &::before {
    inset-block-end: to-rem(-1);
    inset-inline-start: to-rem(-17.7);
  }

  &::after {
    inset-block-start: to-rem(-1);
    inset-inline-end: to-rem(-51);
  }
}

.info {
  max-inline-size: to-rem(170);
  overflow: hidden;
}

.name {
  color: var(--color-highlight, $color-highlight);

  margin-block-end: to-rem(5);

  overflow: hidden;

  text-overflow: ellipsis;
  text-transform: capitalize;

  word-break: keep-all;
}

.link {
  color: var(--color-inverse, $color-inverse);
  font-size: to-rem(16);
  transition: var(--default-transition, $default-transition);

  // stylelint-disable
  transition-property: color, scale;

  @include media-hover {
    color: var(--color-highlight, $color-highlight);

    &:active {
      color: var(--color-accent, $color-accent);
    }
  }
}

.text {
  overscroll-behavior-block: none;

  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent, $color-accent)
    var(--color-primary, $color-primary);

  overflow: auto;

  &::-webkit-scrollbar {
    inline-size: to-rem(5);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-primary, $color-primary);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent, $color-accent);
    border-radius: to-rem(5);
  }
}
