@use "@/styles/abstracts" as *;

.title {
  font-weight: 700;
}

.h1 {
  font-size: to-rem(20);
}

.h2 {
  font-size: to-rem(35);

  @media (width >= to-em(768)) {
    font-size: to-rem(40);
  }
}

.h3 {
  font-size: to-rem(25);

  @media (width >= to-em(768)) {
    font-size: to-rem(30);
  }
}
