@use "@/styles/abstracts" as *;

.title {
  font-weight: 700;
}

.h1 {
  font-size: to-rem(20);
}

.h2 {
  color: var(--color-highlight, $color-highlight);
  font-size: to-rem(35);

  @media (width >= to-em(768)) {
    font-size: to-rem(40);
  }
}

.h3 {
  font-size: to-rem(25);

  @media (width >= to-em(768)) {
    font-size: to-rem(30);
  }
}

.vertical {
  text-overflow: ellipsis;
  text-orientation: upright;
  text-wrap: nowrap;

  writing-mode: vertical-lr;
  overflow: hidden;

}
