@use "@/styles/abstracts" as *;

.wrapper {
  transform: rotateX(15deg) rotateY(15deg) translateY(to-rem(-10))
    translateZ(to-rem(-10));

  clip-path: polygon(90% 0, 100% 8.3%, 100% 100%, 10% 100%, 0 91.7%, 0 0);

  block-size: to-rem(350);
  max-inline-size: to-rem(290);

  display: flex;

  flex-wrap: nowrap;

  transition: transform var(--default-transition, $default-transition);

  &::after {
    inset-block-start: to-rem(-1);
    inset-inline-end: to-rem(-32);
    block-size: to-rem(25);
    inline-size: to-rem(60);
  }

  @include media-hover {
    transform: rotateX(0) rotateY(0) translateY(0) translateZ(0);

    .view {
      opacity: 1;
    }
  }
}

.info {
  border-inline-start: var(--dark-border, $dark-border);

  display: flex;

  flex-direction: column;

  gap: to-rem(5);

  align-items: center;

  > img {
    inline-size: to-rem(20);
    block-size: to-rem(20);
  }
}

.title {
  padding-block: to-rem(3);
}

.image {
  position: relative;
  inline-size: 100%;
}

.view {
  position: absolute;

  background-color: rgb(255 0 60 / 20%);

  padding-inline: to-rem(10);

  block-size: 100%;
  inline-size: 100%;

  display: flex;
  opacity: 0;

  flex-wrap: nowrap;

  align-items: center;

  transition: opacity var(--default-transition, $default-transition);
}
