@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/BlenderPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: url("/fonts/BlenderPro-Book.woff2") format("woff2");
}
