@use "@/styles/abstracts" as *;

*,
*::before,
*::after {
  user-select: none;

  outline: none;

  margin: 0;

  padding: 0;

  border: 0;

  box-sizing: border-box;
}

html {
  background-color: var(--color-primary, $color-primary);
}

body {
  overscroll-behavior: none;
  min-inline-size: to-rem(320);

  // stylelint-disable
  overflow-x: hidden;
}

section {
  padding-block: to-rem(15);
  overflow: hidden;
}

img {
  border-radius: inherit;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

svg {
  inline-size: to-rem(20);
  block-size: to-rem(20);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  display: block;
  appearance: none;

  &:disabled,
  &[aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}
