@use "@/styles/abstracts" as *;

*,
*::before,
*::after {
  user-select: none;

  outline: none;

  margin: 0;

  padding: 0;

  border: 0;

  box-sizing: border-box;
}

html {
  background-color: var(--color-primary, $color-primary);
}

body {
  overscroll-behavior: none;
  min-inline-size: to-rem(320);

  // stylelint-disable-next-line
  overflow-x: hidden;
}

section {
  padding: to-rem(15);
  min-block-size: to-rem(170);
}

img {
  border-radius: inherit;

  block-size: 100%;
  inline-size: 100%;

  object-fit: cover;
  object-position: top;
}

svg {
  inline-size: to-rem(20);
  block-size: to-rem(20);
}

ul {
  list-style: none;
}

button,
a {
  cursor: pointer;

  color: inherit;

  display: block;
  appearance: none;

  text-decoration: none;

  &:disabled,
  [aria-disabled="true"] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}
