@use "@/styles/abstracts" as *;

:root {
  // Main Colors
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
  --color-inverse: #{$color-inverse};
  --color-highlight: #{$color-highlight};

  // Borders
  --default-border: #{$default-border};
  --dark-border: #{$dark-border};

  // Transitions
  --default-transition: #{$default-transition};

  color: var(--color-secondary, $color-secondary);

  font-family: "Blender Pro", sans-serif;
  font-weight: 350;

  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;

  line-height: 1;

  -webkit-font-smoothing: antialiased;
}
